<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>InvestWatch</title>

  <!-- FONTS -->

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="/css/styles.css">
  <!-- EXT SCRIPTS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js" charset="utf-8"></script>
  <!-- LOCAL SCRIPTS -->
  <script src="/js/main.js" charset="utf-8"></script>
</head>
<body>

</body>
</html>
