body {
  background-image: url('/images/marble_texture.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.center {
  text-align: center;
}
input[type="text"] {
  background-color: rgb(235,235,235);
  padding-left: 2%;
}
/* HEADER */
header {
  background-color: rgb(10, 37, 10);
  border-bottom: 4px solid rgb(24, 142, 21);
}
header .row {
  margin-bottom: 0;
}
#logo {
  float: left;
  height: 64px;
  margin: 1.4rem 1rem 1rem 6rem;
  border-radius: 8px;
}
#title {
  color: rgb(241, 250, 247);
}
#header-form {
  margin: .5rem 0 0 7rem;
}
#header-label {
  display: block;
  color: rgb(245,245,245);
  font-size: 1rem;
}
#header-search {
  width: 30%;
  height: 2.75rem;
  font-size: 2rem;
  margin-top: .5rem;
  margin-right: .5rem;
}
#header-button {
  font-size: 1.25rem;
  transform: translateY(-4px);
}

/* STOCK DETAIL */

#detail-box {
  margin-top: 2rem;
  padding: 0;
  background-color: rgba(211, 222, 230, .8);
  border: 1px solid rgb(155, 162, 166);
  border-radius: 6px;
}

.detail-name {
  background-color: rgb(38, 40, 60);
  color: rgb(225, 230, 235);
  font-size: 3.2rem;
  margin-top: 0;
  margin-bottom: .75rem;
  padding: .75rem 1.5rem;
  border-bottom: 3px solid rgb(87, 96, 106);
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.detail-block {
  padding: 0 0 1rem 1rem;
}

.detail-price, .detail-change {
  font-size: 2.4rem;
  padding: 2.25rem;
  font-weight: bolder;
}
.detail-third {
  display: inline-block;
  width: 32%;
  text-align: center;
}
.detail-half {
  display: inline-block;
  width: 49%;
  text-align: center;
}
.detail-label {
  font-size: 1.6rem;
  font-weight: bold;
}
.detail-value {
  font-size: 1.4rem;
}
