<div class="usermgr" ng-hide="loggedIn">

  <div class="row" ng-show="msg">
    <div class="col s12 offset-m2 m8 offset-l3 l6 usermgr-msg">
      <h5>{{msg}}</h5>
    </div>
  </div>

  <div class="row">
    <div class="col s12 offset-m1 m5 offset-l2 l4 usermgr-box">
      <h4>Sign Up</h4>
      <h6>Create Username and Password</h6>
      <form ng-submit="createUser()">
        <input type="text" ng-model="newUser.username" placeholder="Create Username">
        <input type="password" ng-model="newUser.password" placeholder="Create Password">
        <button type="submit" class="btn usermgr-submit">Sign Up</button>
      </form>
    </div>
    <div class="col s12 m5 l4 usermgr-box">
      <h4>Log In</h4>
      <h6>Enter credentials to access watchlist</h6>
      <form ng-submit="logInUser()">
        <input type="text" ng-model="user.username" placeholder="Username">
        <input type="password" ng-model="user.password" placeholder="Password">
        <button class="btn usermgr-submit">Log In</button>
      </form>
    </div>
  </div>
</div>

<div class="watchlist" ng-show="loggedIn">
  <div class="row dashboard-section">
    <div class="col s12 dashboard">
      <h5 class="dashboard-msg">Hello, {{username}}!</h5>
      <button class="btn btn-logout" ng-click="logOut()">Log Out</button>
    </div>
  </div>

  <div class="watchlist-content">

    <div class="row">
      <div class="col s12 offset-m2 m8 offset-l3 l6 empty-list" ng-show="emptyList">
        <h5>Your watchlist is currently empty.  Search for stocks by ticker symbol and click 'Add'.</h5>
      </div>
    </div>

    <div class="watchlist-box" ng-hide="emptyList">
      <div class="row">
        <div class="col s2"><h5>Symbol</h5></div>
        <div class="col s4"><h5>Company</h5></div>
        <div class="col s3"><h5>Price</h5></div>
        <div class="col s3"><h5>Remove</h5></div>
      </div>
      <div class="row" ng-repeat="stock in stocks">
        <div class="col s2"><a ng-href="#/stocks/{{stock.symbol}}"><h5>{{stock.symbol}}</h5></a></div>
        <div class="col s4"><h5>{{stock.issuer_name}}</h5></div>
        <div class="col s3"><h5>{{stock.price | currency}}</h5></div>
        <div class="col s3"><button class="btn delete-btn" ng-click=deleteStock(stock.symbol)>Remove</button></div>
      </div>
    </div>
  </div>
</div>
